---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="px-[10%] relative">
    <Hero />
  </main>
</Layout>
