---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<'div'> {
  text: string
  variant?: 'primary' | 'secondary' | 'tertiary'
}

const { text, variant = 'primary', ...props } = Astro.props
---

<div
  class={twMerge(
    'box-border p-[2px] w-fit rounded-full',
    variant === 'primary' && 'bg-gradient-to-b from-primary/20 to-primary/40',
    variant === 'secondary' &&
      'bg-gradient-to-b from-base-white/20 to-base-white/40',
    Astro.props.class,
  )}
  {...props}
>
  <div class="bg-neutral-900 rounded-full">
    <div
      class={twMerge(
        'px-6 py-2 font-normal text-xs/5 w-full h-full rounded-full',
        variant === 'primary' &&
          'text-primary bg-gradient-to-b from-primary/0 to-primary/15',
        variant === 'secondary' &&
          'text-base-white bg-gradient-to-b from-pink-500 to-pink-600',
      )}
    >
      {text}
    </div>
  </div>
</div>
