---
import { twMerge } from 'tailwind-merge'
import HeaderLink from './HeaderLink.astro'
import LinkButton from './LinkButton.astro'
---

<header
  class={twMerge(
    'px-[10%] py-6 bg-neutral-900 sticky top-0 z-50',
    Astro.props.class,
  )}
  {...Astro.props}
>
  <div class="flex py-2 justify-between">
    <a class="text-2xl text-white font-medium" href="#"> Bruna Moraes </a>

    <div>
      <nav class="flex items-center">
        <HeaderLink href="#projects" title="Projetos" />
        <HeaderLink href="#about" title="Sobre" />
        <HeaderLink href="#resume" title="Currículo" />
        <LinkButton
          class="ml-5 px-3 py-2 font-medium text-neutral-300"
          title="Contato"
          href="#contact"
          variant="secondary"
        />
      </nav>
    </div>
  </div>
</header>
