---
import HeaderLink from './HeaderLink.astro'
import LinkButton from './LinkButton.astro'
---

<header class="px-28 py-6">
  <div class="flex py-2 justify-between">
    <a class="text-2xl text-white font-medium" href="#"> Bruna Moraes </a>

    <div>
      <nav class="flex items-center">
        <HeaderLink href="#projects" title="Projetos" />
        <HeaderLink href="#about" title="Sobre" />
        <HeaderLink href="#resume" title="Currículo" />
        <LinkButton
          class="ml-5"
          title="Contato"
          href="#contact"
          variant="secondary"
        />
      </nav>
    </div>
  </div>
</header>
