---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<'div'> {
  text: string
}

const { text, ...props } = Astro.props
---

<li
  class={twMerge(
    'text-2xl text-neutral-200 font-medium mx-16',
    Astro.props.class,
  )}
  {...props}
>
  {text}
</li>
