---
import { twMerge } from 'tailwind-merge'
import HeroContent from './HeroContent.astro'
import HeroMarquee from './HeroMarquee.astro'
---

<section
  class={twMerge('h-[calc(100vh-114px)] flex flex-col', Astro.props.class)}
  {...Astro.props}
>
  <HeroContent />
  <HeroMarquee />
</section>
