---
import { twMerge } from 'tailwind-merge'
import ProjectsContent from './ProjectsContent.astro'
---

<section
  class={twMerge('px-[10%] py-8 flex flex-col', Astro.props.class)}
  {...Astro.props}
  id="projects"
>
  <ProjectsContent />
</section>
